PORT=5000

SUPABASE_URL=https://example.supabase.co
SUPABASE_ANON_KEY=dummykey
SUPABASE_ANON_KEY=your_anon_key
JWT_SECRET=super_secret_key_12345


RESEND_API_KEY=re_bHEbbSDw_2V13ZFJtVH2UybGhjKbFRKSS
RESEND_FROM_EMAIL=onboarding@resend.dev
APP_URL=http://localhost:3000